/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****************
    MAIN STYLES
*****************/
.container{
    margin: 0 auto;
    /* 0 on the top and bottom, automatic on the left and right
    (which centers the element in it's parent)*/
    max-width: 900px;
    /*always have a maximum width to your site*/
    background: lightgrey;
}
/*****************
    NAV STYLES
*****************/
/* the > is the "direct child" selector - which means only select the element after
if it is directly inside the first element.*/

nav > ul{
display: flex;
/*one way to spread out elements is justify content */
justify-content: space-around;
}

nav > ul > li{
    flex-grow: 1;
    /*flex grow allows elements to expand to fill up the space*/
}

nav > ul > li:first-child{
    /*this will affect only the first li */
    flex-grow: 3;
}


nav ul a{
    padding: 5px;
    /* 1 value adds padding on all 4 sides of the element*/
    display: block;
    /* this changes the anchor tags from inline to block, so they will be as wide as they 
    can and you can put padding on the top and bottom */
    background: pink;
}

nav ul a:hover, nav ul a:active{
    /* use a hover and active state because there is no hover on mobile */
    background-color: aqua;
    color: white;
}
/* dropdown code */
nav ul li ul{
    display: none;
}

/* you have to have a parent with position reletive to properly contain anything 
with position absolute */
nav ul li{
    position: relative;
}    
nav ul li:hover ul{
    display: block;
    /*this will make it visible*/
    position: absolute;
    width: 100%;
}
/* logo/ image size */
nav > ul > li:first-child a{
    display: flex;
}
nav img{
height: 35px;    
}


/*****************
    GRID STYLES
*****************/
main section{
    display:grid;
    height:500px;
    grid-template-rows: repeat(1fr, 6);
    /*the repeat means 6 rows/columns taking up 1fr each*/
    /*you can accomplish the same thing with flexbox...*/
}
/*this media query means the style inside will only apply over 760px wide */
@media screen and (min-width:760px){

main section{
    height:500px;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* fr stands for fraction and tells the column to take up an amount of space based 
    on the number you give it (relative to the other columns) */
    grid-template-rows: 1fr 3fr;

}
}